
body {
    display: grid;
    font-family: "Big Shoulders Display", sans-serif;
    background: linear-gradient(to right , #a6a6a6, #fff);
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;/* Example weight value, replace with an actual value from 100 to 900 */
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(100, 3, 63, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}

.suhail{
    width: 350px;
    margin-bottom: 20px;
}

h1{
    font-size: 100px;
    margin: 0;
    color: #ff0999;
}

h2{
    font-size: 50px;
    color:#FC819E;
}
.head{
    color: #ff0999;
    text-align: center;
    margin: 10px;
    margin-top: 100px;
}

.skills {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
}

.skill1, .skill2, .skill3 {
    width: calc(33.33% - 40px); /* Adjust width for three items with margin */
    margin: 20px; /* Add space between items */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .skill1, .skill2, .skill3 {
        width: calc(100% - 40px); /* Adjust width for one item with margin */
    }
}


.wd-icon{
    width: 100px;
    margin-left: 20px;
}

.python-icon{
    width: 100px;
    margin-left: 20px;
}

.java-icon{
    width: 100px;
    margin-left: 20px;
}

p{
    font-size: 20px;
    text-align: center;
}

.content{
    display: block;
    text-align: justify;
    margin-left: 20px;
}
u{
    color: black;
}

.intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}